@import "react-slideshow-image/dist/styles.css";

.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
    max-width: 1000;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  
  /* .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  } */