@import "react-slideshow-image/dist/styles.css";

.slide-container {
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  border-radius: 5px;
  padding: 0;
  margin: 0;
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
    max-width: 1000;
    margin-bottom: 15px;
    border-radius: 15px;
  }
  
  /* .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  } */