.main-wrapper {
height: 1vh;
}
.main-container {
  max-width: 950px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 15px;
  display: flex;
}

.tagline-box {
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  padding: 0px;
  font-size: 25px;
  margin-right: 10px;
  text-align: left;
  max-width: 500px;
}

.inkx {
  letter-spacing: 1px;
  font-size: 40px;
  margin-top: 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  text-align: left;
}

.the-process {
  border-radius: 10px;
  background: white;
  max-width: 500px;
  padding: 40px;
}

.the-process h3 {
  margin-top: 0;
  text-align: center;
  font-weight: bold;
}

.the-process p {
  text-align: left;
  font-weight: 425;
}

.main-slideshow-container {
  /* display: block; */
  margin: 0 auto;
  margin-top: 30px;
}

.main-page-title {
  font-family: "Noto Serif", serif;
  font-size: 30px;
  margin-top: 10px;
}

.pieces-outer-container {
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px;
}

.pieces-inner-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 0px;
  column-gap: 4px;
  /* row-gap: 0; */
}

.piece-image {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 0;
}

.each-piece {
  margin: 0;
}

.form-and-pieces-container {
  display: flex;
}

.explore-button {
  height: 40px;
  width: 110px;
  border-radius: 5px;
  margin-top: 25px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(71, 71, 157);
  font-size: 17px;
  text-decoration: none;
}

  /* .explore-button :hover {
    background-color: rgb(96, 96, 179);
  } */

.explore-button a {
  text-decoration: none;
  color: white;
}
