.main-wrapper {
  height: 100vh;
}

.main-container {
  max-width: 1200vw;
  margin-top: 125px;
  display: flex;

  @media (max-width: 728px) {
    flex-direction: column;
    margin-top: 50px;
  }
}
.main-intro-div {
  width: 50%;
  text-align: left;
  padding: 40px 15px 50px 15px;

  @media (max-width: 728px) {
    text-align: center;
    width: 80vw;
    margin: 0 auto;
    padding-top: 0;
  }

  strong {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 5px;

    @media (max-width: 728px) {
      font-size: 42px;
      margin-bottom: 30px;
    }
  }

  p {
    margin-top: 0px;
    padding: 15px 50px 0 0;
    font-size: 18px;

    @media (max-width: 728px) {
      padding-right: 0;
    }
  }
}

.main-image-div {
  width: 50%;

  img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 15px;
  }

  @media (max-width: 728px) {
    display: none;
  }
}

.explore-button {
  height: 45px;
  width: 140px;
  border-radius: 5px;
  margin-top: 25px;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(66, 103, 178);
  font-size: 17px;
  text-decoration: none;
  color: white;
  cursor: pointer;

  @media (max-width: 728px) {
    margin-top: 0;
    height: 50px;
    width: 160px;
  }
}

.hidden-image-div {
  display: none;

  @media (max-width: 728px) {
    display: block;
    max-height: 300px;
    max-width: 80vh;
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      object-fit: cover;
      display: block;
    }
  }
}
