.artist-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    max-width: 950px;
    margin: 0 auto;
}

.artist_pic {
    height: 150px;
    width: 150px;
    border-radius: 5px;
}

.artist-name {
    font-size: 15px;
}
.artist-location {
    font-size: 12px;
}