

.form {
  display: grid;
}

.form-box {
  border-radius: 5px;
  box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-right: 5px;
  flex: 1;
  height: 450px;
}

.piece-image {
  height: 150px;
  width: 150px;
}

input {
  margin-bottom: 10px;
}

input[type="submit"]{
  border-radius: 5px;
  height: 30px;
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

form p {
  font-size: 13px;
  font-weight: bold;
}
