.piece {
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.piece-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.artist-pic {
    width: 350;
    height: 350;
}