.pieces-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex: 1;
}

.piece-image {
    width:  150px;
    height: 150px; 
}

.form-and-pieces-container {
    display: flex;
}

