.image-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.piece-image {
    width:  450px;
    height: 450px;
    object-fit: cover;
    border: none;
    margin: none;
    
}