.image-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.piece-image {
    width:  300px;
    height: 300px;
    object-fit: cover;
    border: none;
    margin: none;
    
}