.piece-show-wrapper {
  max-width: 950px;
  margin: 0 auto;
}

.piece-show-container {
  margin: 0 auto;
  display: flex;
  border: 1px rgb(182, 174, 174) solid;
  border-radius: 15px;

  @media (max-width: 728px) {
    flex-direction: column;
  }
}

.piece {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.piece-show-image-container {
  flex: 1;
  border-radius: 15px 0 0 15px;

  img {
    border-radius: 15px 0 0 15px;
  }
}

.piece-show-info {
  padding: 20px;
  border-radius: 15px;
  text-align: left;
  background-color: white;
  flex: 1;

  h5 {
    margin-bottom: 0px;
  }
}
.piece-show-artist-name {
  border-bottom: 1px rgb(190, 189, 189) solid;
}

.piece-show-title {
  border-bottom: 1px rgb(190, 189, 189) solid;
  padding-bottom: 20px;
  font-size: 10px;
}
.piece-description {
  border-bottom: 1px rgb(190, 189, 189) solid;
  padding-bottom: 20px;
}

h5 {
  font-weight: 300;
}
.piece {
  max-width: 475px;
  height: 575px;
  border-radius: 5px 0 0 5px;
  display: block;
}

.button-container {
  display: flex;
  button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
  }
}

.piece-show-comment {
  margin-right: 5px;
  margin-top: 0px;
}
