.piece-show-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 728px) {
    position: relative;
    transform: translate(0%, 0%);
    top: 0;
    left: 0;
    margin: 0 auto;
  }
}

.piece-show-container {
  margin: 50px auto;
  display: flex;
  border: 1px rgb(182, 174, 174) solid;
  border-radius: 15px;
  max-width: 875px;
  max-height: 550px;

  @media (max-width: 728px) {
    flex-direction: column;
    margin: 20px;
  }
}

.piece {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.piece-show-image-container {
  flex: 1;
  border-radius: 15px 0 0 15px;
  img {
    border-radius: 15px 0 0 15px;
    height: 100%;
    @media (max-width: 728px) {
      border-radius: 15px 15px 0 0;
    }
  }

  @media (max-width: 728px) {
    border-radius: 15px 15px 0 0;
  }
}

.piece-show-info {
  padding: 20px 20px 20px 30px;
  border-radius: 0 15px 15px 0;
  text-align: left;
  background-color: white;
  flex: 1;
  position: relative;

  h5 {
    margin-bottom: 0px;
  }

  img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }

  @media (max-width: 728px) {
    padding: 10;
    border-radius: 0 0 15px 15px;
  }
}

.piece-show-links-and-info {
  display: flex;
}
.link-to-artist-show {
  text-decoration: none;
  color: black;
}

.piece-show-artist-name {
  border-bottom: 1px rgb(190, 189, 189) solid;
  font-size: 20px;
  font-weight: 500;
  margin-top: 40px;
}

.piece-show-title {
  border-bottom: 1px rgb(190, 189, 189) solid;
  padding-bottom: 20px;
  font-size: 10px;
}
.piece-description {
  border-bottom: 1px rgb(190, 189, 189) solid;
  padding-bottom: 20px;
}

h5 {
  font-weight: 300;
}
.piece {
  max-width: 475px;
  height: 575px;
  border-radius: 5px 0 0 5px;
  display: block;
}

.button-container {
  display: flex;
  button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
  }
}

.piece-show-comment {
  margin-right: 5px;
  margin-top: 0px;
}
